<%= render partial: "layouts/logo" %>

  <% if @results.empty? %>
  <div class="results-head">
      <h3 style="color: white">No results for: <%= params[:query] %></h3>
    </div>
  <div class="row results-container" style="margin-top: 25px">
    <div class="col-sm result-card">
      <% @jobs.each do |job| %>
      <div class="card bg-dark">
        <%=cl_image_tag("#{job.video.key}.jpg", :resource_type => "video", class: 'result-card-image') %>
        <div class="card-img-overlay results-card-button">
          <h4 class="card-text"><%= job.title %></h4>
            <div class="d-flex justify-content-around">
              <%= link_to job_path(job), class: "p-2" do %>
                <button type="button" style="color: white" class="align-content-end justify-content-center text-center btn-primary btn btn-outline-secondary p-2">View</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="results-head">
      <h3 style="color: white">Showing results for: <%= params[:query] %></h3>
    </div>
    <div class="row results-container" style="margin-top: 25px">
      <div class="col-sm result-card">
        <% @results.each do |result| %>
          <div class="card bg-dark">
            <%=cl_image_tag("#{result.video.key}.jpg", :resource_type => "video", class: 'result-card-image') %>
            <div class="card-img-overlay results-card-button">
              <h4 class="card-text"><%= result.title %></h4>
              <div class="d-flex justify-content-around">
                <%= link_to job_path(result), class: "p-2" do %>
                  <button type="button" style="color: white" class="align-content-end justify-content-center text-center btn-primary btn btn-outline-secondary p-2">View</button>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  <% end %>
<br>
<br>
