
<div class= "form-container">

  <%= simple_form_for @job do |f| %>
  <%= f.input :title %>
  <%= f.input :average_salary %>
  <%= f.input :duties %>
  <%= f.input :best_bits %>
  <%= f.input :worst_bits %>
  <%= f.input :qualifications %>
  <%= f.input :industry_id, collection: @industries, label_method: :name ,label: "Select Industry", include_blank: false, selected: @job.industry_id %>
  <%# <%= f.input :tags, as: :check_boxes, collection: @tags, input_html: { min: 3, max: 3} %>
  <%= f.input :video, as: :file %>
  <%= f.hidden_field :user_id, :value=> "#{current_user.id}" %>
    <p class="text-center"><%= f.submit%></p>
  <% end %>

</div>
