<%= render partial: "layouts/logo" %>

<div class="job-profile-container">
  <div class="profile-show">
    <div class="title-card">
      <h1><span class="job-title"><%= @job.title %></span></h1>
    </div>
    <div class="job-profile-nav">
      <div class="profile-nav-btn" id="overview-btn">
        <h4>Overview</h4>
      </div>
      <div class="profile-nav-btn " id="pros-btn">
        <h4>Pros/Cons</h4>
      </div>
      <div class="profile-nav-btn " id="how-btn">
        <h4>How2Be</h4>
      </div>
    </div>
    <div class="job-details-card" id="overview">
      <h3>Industry</h3>
      <h4><%= @job.industry.name %></h4>
      <br>
      <h3>Average Salary</h3>
      <h4>£<%= @job.average_salary %></h4>
      <br>
      <h3>Main Duties</h3>
      <h4><%= @job.duties %></h4>
    </div>
    <div class="job-details-card" id="pros-and-cons">
      <h3>Best Bits</h3>
      <h4><em>"<%= @job.best_bits %>"</em></h4>
      <br>
      <h3>Worst Bits</h3>
      <h4><em>"<%= @job.worst_bits %>"</em></h4>
    </div>
    <div class="job-details-card " id="how-to-be">
    <h3>Degree Required?</h3>
    <% if @job.degree == true %>
      <h4>Yes</h4>
    <% else %>
      <h4>No</h4>
    <% end %>
    <h3>Relevant Degree</h3>
    <h4><%= @job.qualifications %></h4>
    <br>
    <% if @job.alternative.present? %>
      <h3>Options for low-income students</h3>
      <h4><%= @job.alternative %></h4>
    <% end %>
    <br>
    <h3>Recommended Subjects</h3>
      <div class="job-subjects">
      <% @job.subjects.each do |subject| %>
        <%= link_to "##{subject.name}", jobs_path(query: subject.name), class: 'subject-link' %>
      <% end %>
      </div>
    </div>

    <% if @favourite %>
    <%= link_to favourite_path(@favourite), data: { turbo_method: :delete, turbolinks: true}, class: 'remove-style' do %>
      <div class="job-details-card job-favorite" id="favourited">
        <i class="fa-solid fa-heart heart-fav-link"></i>
        <h1 class="my-1">Job Saved to favourites!</h1>
      </div>
    <% end %>
    <% else %>
      <%= link_to user_favourites_path(user_id: current_user.id, job_id: @job.id), data: { turbo_method: :post, turbolinks: true}, class: 'remove-style' do %>
      <div class="job-details-card job-favorite" id="not-favourited">
          <i class="fa-regular fa-heart heart-fav-link"></i>
          <h1 class="my-1">Add to favourites!</h1>
      </div>
      <% end %>
    <% end %>
      <br>
      <br>
    </div>
  </div>
</div>


<style>
.job-profile-container {
  background-image: url(<%= @job.industry.image_url %>)
}
</style>

<script>
var overviewButton = document.getElementById("overview-btn")
var prosButton = document.getElementById("pros-btn")
var howButton = document.getElementById("how-btn")
var overviewCard = document.getElementById("overview")
var prosCard = document.getElementById("pros-and-cons")
var howCard = document.getElementById("how-to-be")

  overviewButton.classList.add('active');
  overviewCard.classList.remove('d-none');
  prosCard.classList.add('d-none')
  howCard.classList.add('d-none')
  overviewButton.addEventListener('click', () => {
    deactivateAll();
    overviewButton.classList.add('active');
    overviewCard.classList.remove('d-none');
  });

  prosButton.addEventListener('click', () => {
    deactivateAll();
    prosButton.classList.add('active');
    prosCard.classList.remove('d-none');
  });

  howButton.addEventListener('click', () => {
    deactivateAll();
    howButton.classList.add('active');
    howCard.classList.remove('d-none');
  });

  function deactivateAll() {
    overviewButton.classList.remove('active');
    prosButton.classList.remove('active');
    howButton.classList.remove('active');
    overviewCard.classList.add('d-none');
    prosCard.classList.add('d-none');
    howCard.classList.add('d-none');
  }
</script>
