<%= render partial: "layouts/logo" %>

<div class="job-profile-container">
  <div class="profile-show">
    <div class="title-card">
      <h1><span class="job-title"><%= @job.title %></span></h1>
    </div>
    <div class="job-profile-nav">
      <div class="profile-nav-btn" >
        <button id="overview-btn"><h3>Overview</h3></button>
      </div>
      <div class="profile-nav-btn " id="pros-btn">
        <h3>Pros & Cons</h3>
      </div>
      <div class="profile-nav-btn " id="how-btn">
        <h3>How2Be</h3>
      </div>
    </div>
    <div class="job-details-card" id="overview">
      <h3>Industry</h3>
      <h4><%= @job.industry.name %></h4>
      <br>
      <h3>Average Salary</h3>
      <h4>£<%= @job.average_salary %></h4>
      <br>
      <h3>Main Duties</h3>
      <h4><%= @job.duties %></h4>
    </div>
    <div class="job-details-card" id="pros-and-cons">
      <h3>Best Bits</h3>
      <h4><%= @job.best_bits %></h4>
      <br>
      <h3>Worst Bits</h3>
      <h4><%= @job.worst_bits %></h4>
    </div>
    <div class="job-details-card " id="how-to-be">
    <h3>Required Qualifications</h3>
    <h4><%= @job.qualifications %></h4>
    <br>
    <h3>Recommended Subjects</h3>
      <div class="job-subjects">
      <% @job.subjects.each do |subject| %>
        <button class="subject-link">#<%= subject.name %></button>
      <% end %>
      </div>
    </div>

    <% if current_user.favourites.exists?(job_id: @job.id) %>
      <div class="job-details-card job-favorite">
        <i class="fa-solid fa-heart heart-fav-link"></i>
        <h1>Job Saved to favourites!</h1>
      </div>
    <% else %>
      <%= button_to user_favourites_path(user_id: current_user.id, job_id: @job.id), class: 'remove-style' do %>
      <div class="job-details-card job-favorite">
          <i class="fa-regular fa-heart heart-fav-link"></i>
          <h1>Add to favourites!</h1>
      </div>
      <% end %>
    <% end %>
      <br>
      <br>
    </div>
  </div>
</div>


<style>
.job-profile-container {
  background-image: url(<%= @job.industry.image_url %>)
}
</style>

<script>
const overviewButton = document.getElementById("overview-btn")
const prosButton = document.getElementById("pros-btn")
const howButton = document.getElementById("how-btn")
const overviewCard = document.getElementById("overview")
const prosCard = document.getElementById("pros-and-cons")
const howCard = document.getElementById("how-to-be")

  overviewButton.classList.add('active');
  overviewCard.classList.remove('d-none');
  prosCard.classList.add('d-none')
  howCard.classList.add('d-none')
  overviewButton.addEventListener('click', () => {
    deactivateAll();
    overviewButton.classList.add('active');
    overviewCard.classList.remove('d-none');
  });

  prosButton.addEventListener('click', () => {
    deactivateAll();
    prosButton.classList.add('active');
    prosCard.classList.remove('d-none');
  });

  howButton.addEventListener('click', () => {
    deactivateAll();
    howButton.classList.add('active');
    howCard.classList.remove('d-none');
  });

  function deactivateAll() {
    overviewButton.classList.remove('active');
    prosButton.classList.remove('active');
    howButton.classList.remove('active');
    overviewCard.classList.add('d-none');
    prosCard.classList.add('d-none');
    howCard.classList.add('d-none');
  }
</script>
