<div class="job-profile-container">
  <div class="title-card">
    <h1><span class="job-title"><%= @job.title %></span></h1>
  </div>
  <div class="job-details-container">
    <div class="job-details-card">
     <h3>Industry:</h3>
     <h1><%= @job.industry.name %></h1>
    </div>
    <hr>
    <div class="job-details-card">
      <h3>Average Salary</h3>
      <h1>£<%= @job.average_salary %></h1>
    </div>
    <hr>

    <div class="job-details-card">
      <h3>Main Tasks:</h3>
      <h1><%= @job.duties %></h1>
    </div>
    <hr>
    <div class="job-details-card">
      <h3>Best Bits:</h3>
      <h1><%= @job.best_bits %></h1>
    </div>
    <hr>
    <div class="job-details-card">
    <h3>Worst Bits:</h3>
    <h1><%= @job.worst_bits %></h1>
    </div>
    <hr>
    <div class="job-details-card">
      <h3>Qualifications needed:</h3>
      <h1><%= @job.qualifications %></h1>
    </div>
    <hr>
    <%= button_to user_favourites_path(user_id: current_user.id, job_id: @job.id), class: 'remove-style' do %>
    <div class="job-details-card job-favorite">
        <i class="fa-regular fa-heart heart-fav-link"></i>
        <h1>Add to favourites!</h1>
    </div>
    <% end %>
    <hr>
  </div>

</div>


<style>
.job-profile-container {
  background-image: url(<%= @job.industry.image_url %>)
}
</style>
