<%= render partial: "layouts/logo" %>

<div class="container">

  <% @jobs.each do |job| %>
    <div class="video-show outer">
      <%= link_to job_path(job), action:'show' do %>
        <i class="fa-solid fa-circle-info info-link"></i>
      <% end %>

      <%= cl_video_tag(job.video.key, controls: true,
      :width => 390,
      :height => 844,
      :background => "black",
      :crop => "fill",
      :effect=>"gradient_fade:symmetric:1",
      :autoplay=>"true") %>
      <div class="job-infos">
        <div class="job-user">
          <h5>Uploaded by <%= job.user.username %></h5>
        </div>
        <div class="job-detail-thumb">
          <p><%= job.title %></p>
        </div>
      </div>
    </div>

   <% end %>
 </div>
